.side-nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 40px;
	z-index: 998;
	height: 100%;
	background-color: $sideNav-bgc;
	padding: 15px;
	overflow: auto;
	&__my-forums {
		display: flex;
		flex-direction: column;
	}
	&__heading {
		font-size: 1rem;
		margin-top: 1rem;
	}
	&__link {
		margin-left: 1rem;
	}
}
