$primary-color: #323232;
$primary-color--light: lighten($primary-color, 10%);
$primary-color--dark: darken($primary-color, 10%);

$secondary-color: #2283d7;
$secondary-color--light: lighten($secondary-color, 10%);
$secondary-color--dark: darken($secondary-color, 10%);

$header-bgc: #5cc7e4;
$sideNav-bgc: #f7b730;
