@import "./partial/variable";
@import "./partial/base";
@import "./partial/utility";
@import "./layout/header";
@import "./layout/sideNav";
@import "./layout/home";
@import "./layout/forumList";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
	display: flex;
	flex-flow: row wrap;
	.header {
		//header
		flex-basis: 100%;
	}
}
